/* Estilos para la lista de mascotas */
ul {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Ajustamos el espacio entre las tarjetas */
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin: 0 auto; /* Centramos la galería */
}

h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    color: #3b82f6; /* Título azul para darle más vida */
}

